.Home_body>.container{
    width: 60%;
}
.Home_body{
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0) inset;
}

.Home_body>.container>h1{
    font-weight: bolder;
    margin-bottom: 80px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
.col-12{
    color: rgb(5, 84, 41);
}

@media screen and (max-width: 1080px) {
    .Home_body>.container{
        width: 80%;
    }
}
@media screen and (max-width: 991px) {
    .Home_body>.container{
        width: 60%;
    }
}
@media screen and (max-width: 620px) {
    .Home_body>.container{
        width: 80%;
    }
    .col-12>p{
        font-size: smaller;
    }
}
@media screen and (max-width: 440px) {
    .Home_body>.container{
        width: 100%;
    }
    
}