.Home_body>.container{
    width: 60%;
}
.Home_body{
    background-color: rgb(28, 28, 28);
}

.Home_body>.container>h1{
    font-weight: bolder;
    margin-bottom: 80px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}