


.I_S_card{
    color: black;
    border: none;
    
}
.S_card{
    opacity: 0.8;
    transition: 1s;
    color: rgb(0, 128, 106);
    
}
.S_card{
    box-shadow: 2px 2px 12px black;
    margin: 20px;
    border-top: 10px solid rgba(6, 212, 181, 0.75);
    padding: 30px;

    
}

.S_card:hover{
    scale: 1.1;
    opacity: 1;
}