.blog-main-box{
    border-radius: 10px;
    height: 40%;
    width: 80%;

    
    
}
.blog{
    width: fit-content;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}



.blog-main-box>header{
    margin: 10px;
    color: white;
}
.Link{
    color: white;
    text-decoration: none;
    font-size: 24px;
    overflow: auto;
}
.blog-main-box>center{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.blog-main-box>center>img{
    width: 90%;
    height: 10%;
    overflow: hidden;
}
.blog-main-box>footer>p{
    font-size: 18px;
    color: rgb(163, 163, 163);
    padding: 10px;
    height: 80px;
    overflow: scroll;
}
