

#Menu-bar {
  
  display: flex;
  justify-content: end;
}

/* hello world */
ul{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    top: 0px;
    right: 10px;
    transition: 0.3;
}
ul>li{
 
  display: flex;
  align-items: center;
  justify-content: center;
    margin-top: 20px;
    margin-right: 15px;
}
.side_bar{
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;

}
.bt {
  background-color: rgba(0, 0, 0, 0.199);
  color: #21ef8c;
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  font-weight: bold;
  width: 100%;
  height: 30px;
  transition-duration: 0.2s;
}

#side {
  width: 100%;
}
.M_bt>img{
    width: 30px;
    height: 30px;
}
.M_bt{
    display: none;
    background-color: black;
    border: none;
    margin: 25px;
}
.ret>img{
    opacity: 0.9;
    width: 30px;
    height: 30px;
}
.ret{
    display: none;
    background-color: #ffffff;
    width: 100px;
    border-radius: 10px;
}


.bt:hover {
  background-color: rgb(71, 71, 71);
}


@media screen and (min-width: 900px){
  
    ul{
        display: flex;
        flex-direction: row;

    }
    .M_bt{
        display: none;
    }
    .ret{
        display: none;
    }
}
@media screen and (max-width: 1200px) {
   

  .bt{
    
      font-size: small;
  }

#trigger {
  color: white;
}
}

@media screen and (max-width: 1100px) {
    .bt{
        width: 65px;
        height: 20px;
        font-size: x-small;
    }

  #trigger {
    color: white;
  }
}

@media screen and (max-width: 900px) {
  .bt{
    width: 70px;
    height: 20px;
    font-size: x-small;
    }
    ul{
        display: none;
    }
    .M_bt{
        display: block;
    }

  
}

@media screen and (max-width: 440px) {
  ul>li{
    width: 120px;
  }
  .Mbts {
    font-size: 3px;
    width: 45px;
    height: 8px;
    margin: 3px;
    border-radius: 1px;
  }
  #Mmain {
    margin-top: 5px;
  }
}

@media screen and (max-width: 300px) {
  #Menu-bar{
    display: none;
  }
}
