

.Main_Blogs>h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 100px;
    margin: 0px;
    margin-left: 20%;
    padding-top: 130px;
}
.Main_Blogs{
    z-index: 1;
    background-color: black;
    

}
.M{
    z-index: 2;
}
.Main_blog{
    margin-top: 40px;
    width: 100%;
}