

#Header_L {
  background-color: black;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Header_L > header > div {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Header_L > header > div > img {
  width: 40%;
}
.H_Join_div > button {
  margin-bottom: 40px;
  width: 160px;
  height: 50px;
  font-size: 16px;
  background-image: linear-gradient(45deg ,rgb(0, 166, 255) 10%,rgba(255, 255, 255, 0.445),rgb(0, 166, 255));
  border-radius: 8px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  animation-duration: 1s;
  animation-name: Join_Bt;
  transition: 0.6s;
}

.Logo_text {
  margin-right: 400px;
}
.Logo_text > h1 > span {
  color: aqua;
  mask-image: linear-gradient(45deg ,rgb(0, 166, 255) 10%,rgba(255, 255, 255, 0.445),rgb(0, 166, 255));;
}
.Logo_text > h1,h4 {
  color: rgb(204, 204, 204);
}
.Logo_text > h4{
  margin-top: 15px;
}
.H_Join_div > button:hover {
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgb(0, 170, 255), 2px 6px 20px 2px rgb(0, 204, 255);
  
}

@media screen and (max-width: 860px) {
  .H_Join_div > button {
    width: 120px;
    height: 30px;
  }
  .Logo_text > h1 {
    font-size: 100%;
  }
  .Logo_text > h3 {
    font-size: 60%;
  }
  #Header_L > header > div > img {
    width: 40%;
  }
}

@media screen and (max-width: 610px) {
    .H_Join_div > button {
      width: 100px;
      height: 20;
      font-size: 11px;
    }
    .Logo_text > h1 {
      font-size: 100%;
    }
    .Logo_text > h3 {
      font-size: 60%;
    }
    #Header_L > header > div > img {
      width: 40%;
    }
  }
  @media screen and (max-width: 300px) {
    .H_Join_div > button {
      width: 100px;
      height: 20;
      font-size: 11px;
    }
    .Logo_text > h1 {
      font-size: 80%;
    }
    .Logo_text > h3 {
      font-size: 30%;
    }
    #Header_L > header > div > img {
      width: 140px;
      margin-top: 20px;
    }

    
  }
  @media screen and (max-width: 240px) {
    .H_Join_div > button {
      width: 80px;
      height: 15px;
      font-size: 8px;
      border-radius: 3px;
      margin-top: 20px;
    }
    .Logo_text > h1 {
      font-size: 60%;
    }
    .Logo_text > h3 {
      font-size: 5px;
    }
    #Header_L > header > div > img {
      width: 100px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }