div{
    color: black;
}
#Sub{
    display: flex;
    align-items: center;
}
.D_img{
    width: "70%",
}
@media screen and (max-width:1030px) {
    .D_head{
        display: flex;
        flex-direction: column;
    }
    
}